.env
__pycache__
*.DS_Store

# Prevent sensitive data from being committed
**/*private-secret.yaml
**/*private-secret.yml
llama-stack-demos/
mcp-server-demo/
test_agent.py
tools.py
register_augur_tools.py
mcp_server.py
chinook_ex.py
Chinook_PostgreSql.sql
augur_schema_embeddings.pkl
augur_table_embeddings.pkl
augur_test.py
get-pip.py
local_setup_guide.md
prompt_template.py
start_mcp.py
uv.lock
extract_augur_schema.py
main.py
mcp_tools_augur.py
