.env
__pycache__
*.DS_Store

# Prevent sensitive data from being committed
**/*private-secret.yaml
**/*private-secret.yml
llama-stack-demos/
mcp-server-demo/
test_agent.py
tools.py
register_augur_tools.py
mcp_server.py
chinook_ex.py
Chinook_PostgreSql.sql
